%% -*- erlang -*-
%% Config file for modbus application.
%%
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps,  [ {lager, ".*", {git, "https://github.com/HocYachts/lager.git"}},
	  {exo, ".*", {git, "https://github.com/HocYachts/exo.git"}},
	  {uart, ".*", {git, "https://github.com/HocYachts/uart.git"}}
	]}.
